@font-face {
  font-family: 'brix-sans';
  src: url('/fonts/BrixSans-Bold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'brix-sans';
  src: url('/fonts/BrixSans-BoldItalic.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
  font-weight: 700;
}

@font-face {
  font-family: 'brix-sans';
  src: url('/fonts/BrixSans-Medium.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: 'brix-sans';
  src: url('/fonts/BrixSans-MediumItalic.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: 'brix-sans';
  src: url('/fonts/BrixSans-Regular.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'brix-sans';
  src: url('/fonts/BrixSans-RegularItalic.woff2') format('woff2');
  font-display: swap;
  font-style: italic;
  font-weight: 400;
}

/* Fuzzy Bubbles, fetched from Google Fonts - Latin only */
@font-face {
  font-family: 'fuzzy-bubbles';
  src: url('/fonts/FuzzyBubbles-Bold.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}
