@layer components {
  .link {
    @apply -mx-[0.08em] rounded bg-gradient-to-b from-yellow-300 to-yellow-300
      bg-no-repeat px-[0.08em]
      outline-none
      [background-position:0_90%]
      [background-size:100%_0.2em]
      hover:from-yellow-200
      hover:[background-size:100%_100%] focus:from-yellow-200
      focus:ring-1
      focus:ring-yellow-400 focus:[background-size:100%_100%]
      motion-safe:transition-all
      motion-safe:duration-200;
  }
}
